body {
    font-family: 'Verdana', sans-serif;
    background-color: #e9ecef;
    color: #212529;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

h2 {
    background-color: #6c757d;
    color: #f8f9fa;
    padding: 20px 30px;
    margin-bottom: 10px;
    text-align: center;
}

a {
   color:#f8f9fa;
   text-decoration:none;
   font-weight:normal;
   padding:5px;
   background-color:#343a40
}

a:hover {
   text-decoration:none; /* underline 제거 */
}

ul {
   list-style-type:none;
   margin-top :30px ; /* 위쪽 마진 추가 */
   padding-left :0 ; /* 리스트 앞에 공간 제거 */
}

li {
     border-bottom :1px solid #dee2e6 ; /* 테두리를 아래만 남기고 모두 제거 */
     padding :15px ;
     position:relative ;
     transition:.3s all ease-out ; /* 클릭시 효과 추가 */
}

li a {
     position:absolute ;
     right :20px ;
     top :50% ;
     transform :translateY(-50%) ;
}

span {
      display:block ;
      margin-top :15px ;
}
